Package: qBittorrentTray
Version: 0.1
Section: base
Priority: optional
Architecture: amd64
Maintainer: Terje Uglebakken <https://github.com/teug91>
Description: System tray icon for qBittorrent WebUI.
